<h1>投稿一覧です！</h1>

<h2>POST</h2>
  <% @posts.each do |posts| %>
    <%= link_to post_path(posts.id) do %><%= posts.post_text %><% end %><br>
    <% if posts.image.attached? %>
      <%= image_tag posts.image, size: "400x300" %><br>
    <%else%>

    <%end%>
    <br>
  <% end %>
