<!--小ネタログイン画面-->

<div class="container pt-5">
  <div class="row">
    <div class="col text-center text-light">
      <h1><strong>RAIBO</strong></h1>
      <br>
      <h3>
        相変わらず、頑なですね<br><br>
        でも、警句は忘れません<br><br>
        …我ら鶏むね肉によって筋肉となり、筋肉を超え、また筋肉を失う<br><br>
        知らぬ者よ<br><br>
        かねてカロリーを恐れたまえ
      </h3>

      <br>
      <%= link_to "ログイン", new_user_session_path, class: "btn btn-success my-2" %>
      <br>
      <h7>または</h7>
      <br>
      <%= link_to "新規登録", new_user_registration_path, class: "btn btn-info my-2" %>
      <br>
      <%= link_to 'ゲストログイン', users_guest_sign_in_path, class: "btn btn-secondary mt-5", method: :post %>
    </div>
    <br>
  </div>
</div>