<div class="container pt-5">
  <div class="row">
    <div class="col text-center">
      <h1><strong>RAIBO</strong></h1>
      <br>
      <h3></h3>

      <br>
      <%= link_to "ログイン", new_user_session_path, class: "btn btn-success my-2" %>
      <br>
      <h7>または</h7>
      <br>
      <%= link_to "新規登録", new_user_registration_path, class: "btn btn-info my-2" %>
      <br>
      <%= link_to 'ゲストログイン', users_guest_sign_in_path, class: "btn btn-secondary mt-5", method: :post %>
    </div>
    <br>
  </div>
</div>
