<h1><%= link_to "⇚", admin_user_path %></h1>

<h3 class="px-4 text-center"><%= @user.user_name %>さんのPOST一覧です！</h3>


<h2>POST</h2>
<% @posts.each do |posts| %>
  <%= posts.post_text %><br>
  <% if posts.image.attached? %>
    <%= image_tag posts.image, size: "400x300" %><br>
  <%else%>

  <%end%>
<% end %>