<h1 style="padding-top: 70px;"><%= link_to '⇚', 'javascript:history.back()' %></h1>

<div class="container" style="display: flex; justify-content: center; align-items: center;">
    <h2>Followers</h2>
</div>

<%= render 'public/users/user_index_list', users: @users %>